body {
	font-size: 16px;
	color: #000;
	background-color: #fff;
	font-family: 'Architects Daughter', cursive;
}
/*HEADER*/
#header-nav {
	background-color: #d3d3d3;
	border-radius: 0;
	border: 1px solid #000;
}
.navbar-brand {
	padding-top:8px;
	
}
.navbar-brand h1 {  /*Restaurant name*/
	font-family: 'Atma', cursive; 
	color: #000;
	font-size: 2.0em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	margin-top:0;
	margin-bottom: 0;
		}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list a {
	color: #000;
	text-align: center;
}
#nav-list a:hover {
	background: #a9a9a9;
}
#nav-list a {
	font-size: 1.8em;
	font-weight: bold;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -35px;
}
/*END HEADER*/

.text-center  {
	font-weight: bold;
	margin-bottom: 35px;
}
/*MAIN CONTENT*/
.row
 {
		margin: 5px;
		width: 100%;
	}


#chicken {
 	background-color: #d3d3d3;
 	border: 1px solid black;
 	margin-bottom: 15px;
 	margin-top: 15px;
 	padding: 10px ;
 	line-height: 1.8em;
 	 }
#beef {
	background-color: #d3d3d3;
 	border: 1px solid black;
 	margin-bottom: 15px;
 	margin-top: 15px;
 	padding: 10px;
 	line-height: 1.8em;
 	
}
#sushi {
	background-color: #d3d3d3;
 	border: 1px solid black;
 	margin-bottom: 15px;
 	margin-top: 15px;
 	padding: 10px;
 	line-height: 1.8em; 	
 }
 h3 {
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;	
}
#back-top a {
	padding-left: 15px;
	}

/******LARGE DEVICES ONLY*******/
@media (min-width: 1200px) {
    
}

/******MEDIUM DEVICES ONLY ********/
@media (min-width: 992px) and (max-width: 1199px) {
	

}

/********SMALL DEVICES ONLY*******/
@media (min-width: 768px) and (max-width: 991px) {
	
		

}

/*******EXTRA SMALL DEVICES ONLY**********/
@media (max-width: 767px) {
	
	
}
/*********Super Extra Small devices only*********/
@media (max-width: 479px) {
	
}